.bigbear-pagination-wrapper{
    display: flex;
    list-style: none;
    .bigbear-pagination-item{
        >button{
            @include neufactory-hover($primary,$neu-blueshadow1,$neu-blueshadow2);

            min-width: 32px;
            &:hover{
                color:$white;
            }
        }
        
    }
}


