@import "./clearfix.scss";
@import "./size.scss";
@import "./animatemixin.scss";

//button
@mixin button-size($btn-padding-x,$btn-padding-y,$font-size-base,$border-radius) {
    padding: $btn-padding-y $btn-padding-x  $btn-padding-y $btn-padding-x;
    font-size: $font-size-base;
    border-radius: $border-radius;
}

@mixin button-style(
    $background-color,$color,$border-color:lighten($color,10%),
    $hover-background-color:lighten($background-color,7.5%),
    $hover-border-color:lighten($border-color,10%),
    $hover-color:$color) {
    color:$color;
    background-color: $background-color;
    &:hover{
        color: $hover-color;
        background-color: $hover-background-color;
    }
    &:focus{
        color: $hover-color;
        background-color: $hover-background-color;
      
    }
    &[disabled]{
        color: $color;
        background-color: $background-color;
        border-color: $border-color;
    }
}

@mixin neufactory($background,$shadow1,$shadow2) {
    background: $background;
    box-shadow:  $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 $shadow1;
    border:none;
    text-shadow: 1px 1px 4px $shadow1, -1px -1px 4px $shadow2;
    &:active{
        background:$background;
        border:none;
        box-shadow: inset $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 $shadow1, 
        inset (-$btn-neu-normal)  (-$btn-neu-normal)  $btn-neu-normal*2 $shadow2
        
    }
}
@mixin neufactory-hover($background,$shadow1,$shadow2) {
    &:hover{
        background: $background;
        box-shadow:  $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 $shadow1;
        border:none;
        text-shadow: 1px 1px 4px $shadow1, -1px -1px 4px $shadow2;
    }
    &:active{
        background:$background;
        border:none;
        box-shadow: inset $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 $shadow1, 
        inset (-$btn-neu-normal)  (-$btn-neu-normal)  $btn-neu-normal*2 $shadow2
    }

}



@mixin neufactory-noactive($background,$shadow1,$shadow2) {
    background: $background;
    box-shadow:  $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 $shadow1;
    border:none;
    text-shadow: 1px 1px 4px $shadow1, -1px -1px 4px $shadow2;
}


@mixin neu-white ($btn-neu-normal){
    text-shadow: 1px 1px 4px #ffffff, -1px -1px 4px #d9d9d9;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 #d6d6d6, 
    -($btn-neu-normal) -($btn-neu-normal) $btn-neu-normal*2 #ffffff;
}
@mixin neu-white-down ($btn-neu-normal){
    text-shadow: 1px 1px 4px #ffffff, -1px -1px 4px #d9d9d9;
    background:white;
    box-shadow: inset $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 #d6d6d6, 
    inset (-$btn-neu-normal)  (-$btn-neu-normal)  $btn-neu-normal*2 #ffffff;
}
@mixin neu-white-co($btn-neu-normal){
    text-shadow: 1px 1px 4px #ffffff, -1px -1px 4px #d9d9d9;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 #d6d6d6, 
     (-$btn-neu-normal)  (-$btn-neu-normal)  $btn-neu-normal*2 #ffffff;
}
@mixin neu-white-fl($btn-neu-normal){
    text-shadow: 1px 1px 4px #ffffff, -1px -1px 4px #d9d9d9;
    background: white;
    box-shadow:  $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 #d6d6d6, 
     (-$btn-neu-normal)  (-$btn-neu-normal)  $btn-neu-normal*2 #ffffff;
}
@mixin neu-white-ringafter($btn-neu-normal,$btn-border-radius) {
   position: absolute;
   content: '';
   left: -10%;
   width: 120%;
   height: 120%;
   top:-10%;
    opacity: 80%;
    z-index: 1;
   @include neu-white-fl($btn-neu-normal)
}
@mixin  ringwrapper ($bgcolor,$shadow1,$shadow2) {
    background:$bgcolor;
    box-shadow: inset $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 $shadow1, 
    inset (-$btn-neu-normal)  (-$btn-neu-normal)  $btn-neu-normal*2 $shadow2
}



@mixin switch-neu($bgcolor,$shadow1,$shadow2){
    background:$bgcolor;
    box-shadow: inset $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 $shadow1, 
    inset (-$btn-neu-normal)  (-$btn-neu-normal)  $btn-neu-normal*2 $shadow2,
    $btn-neu-normal $btn-neu-normal $btn-neu-normal*2 $shadow1;
}
