@mixin size($width,$height) {
    width: $width;
    height: $height;
}
@mixin square($size) {
   @include size($size,$size)
}
@mixin absolut-middle() {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}