@mixin size($width,$height) {
    height: $height;
    width: $width;
}
@mixin square($size) {
   @include size($size,$size);
}
@mixin absolut-middle() {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}