
.bigbear-autocomplete{
    .bigbear-autocomplete-ul{
        list-style: none;
        @include neufactory-noactive($white,$neu-whiteshadow1,$neu-whiteshadow2);
        padding:$input-padding-y;
        position: absolute;
        width: 100%;
        .bigbear-autocomplete-item{
            padding: 5px;
            margin:5px;
            cursor: pointer;
            @include neufactory($white,$neu-whiteshadow1,$neu-whiteshadow2);
            @include neufactory-hover($info,$neu-infoshadow1,$neu-infoshadow2);
            &:hover{
                color:white;
            }
        }
        .autocomplete-item-highlight{
            @include neufactory($primary,$neu-blueshadow1,$neu-blueshadow2);
            @include neufactory-hover($primary,$neu-blueshadow1,$neu-blueshadow2);
            color:white;
        }
    }
    .bigbear-autocomplete-spin{
       @include absolut-middle();
        z-index: 10;
    }
   
}