.bigbear-badge{
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.bigbear-badge-count{
    border-radius:$badge-border-radius;
    font-size: $badge-font-size;
    height: 24px;
    padding: $badge-padding;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(50%,-50%,0);
    z-index: 800;
}


.bigbear-badge-count.nochildren{
    position: static;
    transform: translate3d(0,0,0);
}

@each $key,$val in $theme-colors{
    .bigbear-count-#{$key}{
       @include neufactory-noactive(nth($val, 1),nth($val,3),nth($val,4));

       color:#{nth($val,2)};
    }
}
.badge-hide{
    display: none;
}
.badge-dot{
    @include square(5px);

    border-radius:50%;
    padding: 0;
}