.bigbear-multiselect{
    position: relative;
    width: 100%;
    .bigbear-multiselect-display{
        @include neufactory-noactive($white,$neu-whiteshadow1,$neu-whiteshadow2);

        display: flex;
        padding:5px;
        width: 100%;
        .bigbear-multiselect-displaytext{
            @include ringwrapper($white,$neu-whiteshadow1,$neu-whiteshadow2);

            border-radius: 5px;
            display:flex;
            flex-grow: 1;
            flex-wrap: wrap;
               
                .bigbear-alert{
                    display: flex;
                    flex-direction:row ;
                    flex-wrap: nowrap;
                    margin:2px;
                    padding:3px;
                    span:nth-child(1){
                        align-items: center;
                        display: flex;
                        font-size: 14px;
                        margin-right: 2px;
                    }
                    .btn{
                        font-size: 14px;
                        padding:1px 3px;
                        position: static;
                    }
                }
                
        }
        .bigbear-multiselect-icon{
            align-items: center;
            display: flex;
            margin-left: 5px;
            width: 10px;
        }
    }
    .bigbear-multiselect-options{
        @include neufactory-noactive($white,$neu-whiteshadow1,$neu-whiteshadow2);

        cursor: pointer;
        font-weight: 700;
        overflow-y: auto;
        padding:10px;
        position: absolute;
        width: 100%;
        >div{
            @include neufactory($white,$neu-whiteshadow1,$neu-whiteshadow2);
            @include neufactory-hover($info,$neu-infoshadow1,$neu-infoshadow2);

            margin:5px;
            padding:5px;
            &:hover{
                color:$white;
            }
        }
        >.bigbear-multiselect-active{
            @include neufactory($primary,$neu-blueshadow1,$neu-blueshadow2);

            color:$white;

        }
    }
    &.disabled{
        cursor: not-allowed;
        opacity: .5;
    }
}