.bigbear-modal-potral.bigbear-popconfirm{
    bottom: unset;
    left:unset;
    padding:0;
    position: absolute;
    right:unset;
    top:unset;
    white-space: nowrap;
    
    .bigbear-modal-viewport.bigbear-popconfirm{
        display: block;
        margin: 0;
        min-width: unset;
        padding:4px;
        position: unset;
        width: unset;
        .bigbear-modal-title.bigbear-popconfirm{
            font-size: $font-size-sm;
            >span{
                display: inline-block;
                margin-right: 20px;
            }
        }
        .bigbear-modal-confirm.bigbear-popconfirm{
            font-size: $font-size-sm;
            padding: 2px;
        }
    }

}
.bigbear-popconfirm-wrapper{
    display: inline-block;
}


