.bigbear-select{
    display: inline-block;
    vertical-align: bottom;
    margin: 10px;
    width: 120px;
    position: relative;
    cursor: pointer;
    .bigbear-select-display{
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
       
        @include neufactory-noactive($white,$neu-whiteshadow1,$neu-whiteshadow2);
        .bigbear-select-displaytext{
            padding-left: 2px;
            padding-right: 2px;
            flex-grow: 1;
            width: 100%;
            height: 80%;
            overflow: hidden;
            @include ringwrapper($white,$neu-whiteshadow1,$neu-whiteshadow2)
        }
        .bigbear-select-icon{
            margin-left: 5px;
        }
    }
    .bigbear-select-options{
        z-index: 200;
        position: absolute;
        left:10px;
        @include neufactory-noactive($white,$neu-whiteshadow1,$neu-whiteshadow2);
        >div{
            padding-left:10px;
            padding-right: 10px;
            height: 30px;
            cursor: pointer;
            @include neufactory-hover($primary,$neu-blueshadow1,$neu-blueshadow2);
            &:hover{
                color:$white;
            }
        }
    }
    &.disabled{
        cursor: not-allowed;
        opacity: .5;
    }
}

