.bigbear-select{
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    position: relative;
    vertical-align: bottom;
    width: 120px;
    .bigbear-select-display{
        @include neufactory-noactive($white,$neu-whiteshadow1,$neu-whiteshadow2);

        align-items: center;
        display: flex;
        height: 30px;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        .bigbear-select-displaytext{
            @include ringwrapper($white,$neu-whiteshadow1,$neu-whiteshadow2);

            flex-grow: 1;
            height: 80%;
            overflow: hidden;
            padding-left: 2px;
            padding-right: 2px;
            width: 100%;
        }
        .bigbear-select-icon{
            margin-left: 5px;
        }
    }
    .bigbear-select-options{
        @include neufactory-noactive($white,$neu-whiteshadow1,$neu-whiteshadow2);

        left:10px;
        position: absolute;
        z-index: 200;
        >div{
            @include neufactory-hover($primary,$neu-blueshadow1,$neu-blueshadow2);

            cursor: pointer;
            height: 30px;
            padding-left:10px;
            padding-right: 10px;
            &:hover{
                color:$white;
            }
        }
    }
    &.disabled{
        cursor: not-allowed;
        opacity: .5;
    }
}

