.bigbear-alert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    position: relative;
    >span{
        &:nth-child(1){
            font-size: $font-size-lg;
            font-weight: $font-weight-bold;
        }
        svg{
            margin-right: 10px;
        }
    }
    >button{
        position:absolute;
        right:0;
        top:0
    }
}
@each $key,$val in $theme-colors{
    .bigbear-alert-#{$key}{
        @include neufactory-noactive(nth($val,1),nth($val,3),nth($val,4));

        color:#{nth($val,2)};
    }
}
