.bigbear-modal-potral{
    bottom: 0;
    left:0;
    position: fixed;
    right: 0;
    top:0;
    z-index: 1000;
    .bigbear-modal-viewport{
        @include neufactory-noactive($white,$neu-whiteshadow1,$neu-whiteshadow2);

        margin:0 auto;
        min-width: 320px;
        overflow: hidden;
        padding:$modal-padding;
        position: relative;
        top:100px;
        transition: all  0.5s cubic-bezier(0.23, 1, 0.32, 1);
        width: 30%;
        z-index: 1001;
        .bigbear-modal-title{
            @include neufactory-noactive($white,$neu-whiteshadow1,$neu-whiteshadow2);

            font-size: $font-size-lg;
            font-weight: $font-weight-bold;
            padding: $modal-padding;
            .bigbear-icon{
                margin-right: 10px;
            }
            .bigbear-modal-closebtn{
                position: absolute;
                right: $modal-padding ;
                top:$modal-padding ;
                .bigbear-icon{
                    margin-right: 0;
                }
            }
           
        }
        .bigbear-modal-children{
            @include neufactory-noactive($white,$neu-whiteshadow1,$neu-whiteshadow2);

            padding:$modal-padding;
        }
        .bigbear-modal-confirm{
            @include neufactory-noactive($white,$neu-whiteshadow1,$neu-whiteshadow2);

            display: flex;
            justify-content: flex-end;
            padding: $modal-padding;
            >button{
                margin-right: 10px;
            }
        }
    
    }
    .bigbear-modal-mask{
        background-color: rgba(0,0,0,.45);
        bottom: 0;
        left:0;
        position: fixed;
        right: 0;
        top:0;
    }
}


.bigbear-modal-animation-enter {
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) ;
    .bigbear-modal-viewport{
        transform: scale(0,0);
    }
}

.bigbear-modal-animation-enter-done {
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) ;
    .bigbear-modal-viewport{
        transform: scale(1,1);
        transform-origin: center top;
    }
}
.bigbear-modal-animation-exit {
    opacity: 1;
    transition: all  0.3s cubic-bezier(0.23, 1, 0.32, 1) ;

}
.bigbear-modal-animation-exit-active {
    opacity: 0;
    transform-origin:center top;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) ;

}
