.bigbear-message-top{
    left:50%;
    position: fixed;
    top:20px;
    transform: translateX(-50%);
}
.bigbear-message-lt{
    left: 20px;
    position: fixed;
    top:20px;
}

.bigbear-message-rt{
    position: fixed;
    right:  20px;
    top:20px;
}
.bigbear-message-lb{
    bottom:  20px;
    left:20px;
    position: fixed;
}
.bigbear-message-rb{
    bottom:  20px;
    position: fixed;
    right: 20px;
}

.bigbear-message{
    max-width: 300px;
    padding:$message-padding;
    z-index: 500;
    > span:nth-child(1){
        font-size: $font-size-sm;
    }
    > span:nth-child(2){
        font-size: $font-size-sm - 1;
    }
    .btn{
        font-size: $font-size-sm - 5;
        .bigbear-icon{
            vertical-align: middle;
        }
    }
}



.zoom-in-topmesssage-enter {
    opacity: 0;
    transform: scaleY(0) translateX(-50%);
}
.zoom-in-topmesssage-enter-active {
    opacity: 1;
    transform: scaleY(1) translateX(-50%);
    transform-origin: center top;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms
}
.zoom-in-topmesssage-enter-done {
    opacity: 1;
    transform:scaleY(1) translateX(-50%);
}
.zoom-in-topmesssage-exit{
    opacity: 0;
    transform: scaleY(0)  translateX(-50%);
    transform-origin:center top;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
}
