.bigbear-message-top{
    position: fixed;
    top:20px;
    left:50%;
    transform: translate3D(-50%,0,0);
}
.bigbear-message-lt{
    position: fixed;
    left: 20px;
    top:20px;
}

.bigbear-message-rt{
    position: fixed;
    right:  20px;
    top:20px;
}
.bigbear-message-lb{
    position: fixed;
    bottom:  20px;
    left:20px;
}
.bigbear-message-rb{
    position: fixed;
    bottom:  20px;
    right: 20px;
}

.bigbear-message{
    padding:$message-padding;
    z-index: 500;
    > span:nth-child(1){
        font-size: $font-size-sm;
    }
    
}



.zoom-in-topmesssage-enter {
    opacity: 0;
    transform: scaleY(0)  translate3D(-50%,0,0);
}
.zoom-in-topmesssage-enter-active {
    opacity: 1;
    transform: scaleY(1)  translate3D(-50%,0,0);
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: center top
}
.zoom-in-topmesssage-exit {
    opacity: 1;
    transform:translate3D(-50%,0,0);
}
.zoom-in-topmesssage-exit-active {
    opacity: 0;
    transform: scaleY(0)  translate3D(-50%,0,0);
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin:center top;
}
